@import "tailwindcss";

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Cafe24Font';
    src: url('/fonts/Cafe24SsurroundAir-v1.1.woff2') format('woff2'),
       url('/fonts/Cafe24SsurroundAir-v1.1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}